@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    transition: all 0.2s ease-in;
}

.heading{
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    text-align: center;
    margin: 30px 0px;
    border-bottom: 1px solid #bbb;
}

#gallery{
    display: inline-block;
    line-height: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.image-block{
    position: relative;
}

#gallery img{
    width: 100% !important;
    height: auto !important;
    margin: 5px 0px;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.like-btn{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    right: 10px;
    background-color: #eee;
    color: #999;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in
}

#theme-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #444;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}

@media  screen and (max-width: 768px) {
    #gallery{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media  screen and (max-width: 480px) {
    #gallery{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

#bezierLogo{
    width: 310px;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 138px;
    transform: rotateY(160deg) rotate(-40deg);
}

#nikesvg{
    width: 290px;
    position: absolute;
    z-index: 2;
    top: 460px;
    left: 220px;
    transform: rotate(5deg);
}